h1 {
  padding-top: 125px;
  font-size: 60px;
  text-align: center;
  margin-bottom: 2%;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: black;
}

footer {
  text-align: center;
  margin-top: 5%;
  background-color: black;
  color: white;
}

table {
  margin: 0px auto;
  text-align: center;
}


.btn:hover {
  color: white;
  background-color: black;
  border-color: black;
}
