footer {
  text-align: center;
  margin-top: 5%;
  background-color: black;
  color: white;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: black;
}

h1 {
  padding-top: 125px;
  font-size: 65px;
  text-align: center;
}

p, h2 {
  text-align: center;
}

h2 {
  padding-top: 40px;
}
